@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playwrite+ES+Deco+Guides&family=Rubik+Vinyl&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}
.banner{
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
   background-position: center;
   background-size: cover;

}
.navbar{
   width: 90%;
   padding: 30px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo{
   width: 160px;
   margin-top: -10px;
   font-family: "Rubik Vinyl", serif;
   font-size: 35px;
   font-weight: 700;
   color: white;
}
.navbar ul li{
   list-style: none;
   display: inline-block;
   margin: 20px;
}
.navbar ul li a{
   text-decoration: none;
   text-transform: uppercase;
   color: white;
   font-weight: 600;
   padding: 15px;
   font-size: 14px;
  
}
.navbar ul li a i{
   color: #1B3A57;
   font-size: 15px;
}
li a:hover{
   background: white;
   transition: 0.5s;
}
.navbar a:hover{
   color: black;
}
.content{
   width: 100%;
   position: absolute;
   color: white;
   top: 45%;
   transform: translateY(-50%);
   text-align: center;
}
.content h1{
   margin-top: 80px;
   font-size: 90px;
   font-weight: 800;
}
.banner video{
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: -1;
}
@media(min-aspect-ratio: 16/9){
   .banner video{
      width: 100%;
      height: auto;
   }
}
/* css for search option */
.search{
   background: white;
   width: 350px;
   height: 40px;
   display: flex;
   margin-left: 35%;
   margin-top: 2%;
}
.search input{
   flex: 1;
   border: none;
   outline: none;
}
.search button{
   background: #1B3A57;
   padding: 11px 38px;
   border: none;
   outline: none;
   color: #fff;
   letter-spacing: 1px;
   cursor: pointer;
   font-size: 16px;
   font-weight: 200;
}
.search button:hover{
     background-color: #136b89;
    border-color: #E0F7FA;
    color: white;
}
.search .fa-search{
   align-self: center;
   padding: 10px 17px;
   color: black;
}


/* css for footer */


footer{
   background: #343434;
   
}
.container{
   width: 1140px;
   margin: auto;
   display: flex;
   justify-content: center;
}
.footer-content{
   width: 33.3%;
   padding-top: 2px;
}
footer h3{
   font-size: 35px;
   margin-bottom: 15px;
   text-align: center;
   color: white;
   font-family: "Dancing Script";
   padding-top: 62px;
   padding-bottom: 20px;
}
.footer-content p{
   width:190px;
   margin: auto;
   padding: 7px;
   color: white;
   font-size: 16px;
}
.footer-content ul{
   text-align: center;
}
.list{
   padding: 0;
}
.list li{
   width: auto;
   text-align: center;
   list-style-type:none;
   padding: 7px;
   position: relative;
}
.list li a{
   text-decoration: none;
   color: white;
   font-size: 19px;
   padding-top: 15px;
}
.list li::before{
   content: '';
   position: absolute;
   transform: translate(-50%,-50%);
   left: 50%;
   top: 100%;
   width: 0;
   height: 2px;
   background: #f18930;
   transition-duration: .5s;
  
}
.list li:hover::before{
   width: 70px;
}
.social-icons{
   text-align: center;
   
   padding: 0;
}
.social-icons li{
   display: inline-block;
   text-align: center;
   padding: 5px;
}
.social-icons i{
   color: white;
   font-size: 35px;
}
a{
   text-decoration: none;
}
.footer-content .list a:hover{
   color: #f18930;
}
.social-icons i:hover{
   color: #f18930;
}
.bottom-bar{
   background: #f18930;
   text-align: center;
   padding: 10px 0;
   margin-top: 50px;
}
.bottom-bar p{
   color: #343434;
   margin: 0;
   font-size: 16px;
   padding: 7px;
   font-weight: 400;
}


/* css for data */


.data-container {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   padding: 20px;
   justify-content: center;
   background-color: #1B3A57;
}

.data-card {
   background-color: #f9f9f9;
   border: 1px solid #ddd;
   border-radius: 8px;
   width: 300px;
   overflow: hidden;
   box-shadow: 0 4px 10px black;
   transition: 1s;
   cursor: pointer;
}
.data-card:hover{
   transform: scale(1.1);
   z-index: 1;
}

.data-card .avatar {
   width: 100%;
   height: 200px;
   object-fit: cover;
}

.data-card .card-content {
   padding: 15px;
}

.data-card h3 {
   margin-top: 0;
   font-size: 1.5rem;
   color: black;
   text-align: center;
   padding-bottom: 15px;
}

.data-card p {
   margin: 5px 0;
   font-size:15px;
   color: #666;
}

.data-card p strong {
   color: black;
   font-size: 15px;
}

a.view_btn{
    background: #0c80ed;
    padding: 5px 15px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 200;
    margin-left: 77px;
    border-radius: 4px;
}
a.view_btn:hover{
    background-color: white;
    color:#0c80ed ;
    border: 1px solid #0c80ed;
}

/* css for about section */

.abc h5{
   font-size: 34px;
   background-color: #2e2e2e;
   text-align: center;
   font-family: "Dancing Script";
   padding-top: 20px;
   padding-bottom: 20px;
   color: white;
}
.abcd{
   background-color: #ADD8E6;
}
.abcd h6{
   padding-top: 40px;
   padding-left: 25px;
   font-size: 28px;
   font-family: "Montserrat", serif;
   
}
.abcd p{
   font-size: 20px;
   letter-spacing: 0.7;
   line-height: 1;
   padding-left: 25px;
   padding-top: 35px;
}
.abcd a{
   padding-left: 25px;
   color: black;
   font-size: 24px;
   padding-top: 50px;
   padding-bottom: 184px;
   display: block;
text-decoration: underline;
}
.about1{
   color: white;
   padding-left: 25px;
   background-color: #1B3A57;
   padding-top: 40px;
}
.about1 h4{
   font-size: 28px;
   font-family: "Montserrat", serif;
   padding-bottom: 35px;
}
.about1 p{
   font-size: 20px;
   letter-spacing: 0.7;
   line-height: 1.5;
   padding-top: 35px;
}
.about1 a{
 
   color: white;
   font-size: 24px;
   padding-top: 50px;
   padding-bottom: 184px;
   display: block;
text-decoration: underline;
}

/* css for table */


.conn2{
   width: 50%;
   background-color: #1B3A57;
   border-radius: 5px;
   color: black;
   text-decoration: none;
   font-family: "Montserrat", serif;
   font-size: 18px;
   font-weight: 800;
   margin-left: 350px;
   margin-bottom: 17px;
   margin-top: 12px;
   padding-top: 10px;
   padding-bottom: 10px;
   cursor: pointer;
   box-shadow: 0 4px 10px black;
}
.conn2:hover{
   background-color:#136b89 ;
   
}
.conn2 a{
   text-align: center;
   color: white;
   padding-left: 250px;
}
.conn2 i{
   color: white;
   padding-left: 20px;
}

.conn3{
   width: 50%;
   background-color: #1B3A57;
   border-radius: 5px;
   color: black;
   font-family: "Montserrat", serif;
   font-size: 18px;
   font-weight: 800;
   margin-left: 350px;
   margin-bottom: 17px;
   margin-top: 12px;
   padding-top: 10px;
   padding-bottom: 10px;
   cursor: pointer;
   box-shadow: 0 4px 10px black;
}
.conn3:hover{
   background-color: #136b89;
   
}
.conn3 a{
   text-align: center;
   color: white;
   padding-left: 230px;
}
.conn3 i{
   color: white;
   padding-left: 20px;
}
.conn4{
   width: 50%;
   background-color: #1B3A57;
   border-radius: 5px;
   color: black;
   font-family: "Montserrat", serif;
   font-size: 18px;
   font-weight: 800;
   box-shadow: 0 4px 10px black;
   margin-left: 350px;
   margin-bottom: 17px;
   margin-top: 12px;
   padding-top: 10px;
   padding-bottom: 10px;
   cursor: pointer;
}
.conn4:hover{
   background-color:#136b89 ;
   
}
.conn4 a{
   text-align: center;
   color: white;
   padding-left: 250px;
}
.conn4 i{
   color: white;
   padding-left: 20px;
}
.conn5{
   width: 50%;
   background-color: #1B3A57;
   border-radius: 5px;
   color: black;
   box-shadow: 0 4px 10px black;
   font-family: "Montserrat", serif;
   font-size: 18px;
   font-weight: 800;
   margin-left: 350px;
   margin-bottom: 17px;
   margin-top: 12px;
   padding-top: 10px;
   padding-bottom: 10px;
   cursor: pointer;
}
.conn5:hover{
   background-color: #136b89;
   
}
.conn5 a{
   text-align: center;
   color: white;
   padding-left: 270px;
}
.conn5 i{
   color: white;
   padding-left: 20px;
}
.conn6{
   width: 50%;
   background-color: #1B3A57;
   border-radius: 5px;
   box-shadow: 0 4px 10px black;
   color: black;
   font-family: "Montserrat", serif;
   font-size: 18px;
   font-weight: 800;
   margin-left: 350px;
   margin-bottom: 17px;
   margin-top: 12px;
   padding-top: 10px;
   padding-bottom: 10px;
   cursor: pointer;
}
.conn6:hover{
   background-color:#136b89 ;
   
}
.conn6 a{
   text-align: center;
   color: white;
   padding-left: 230px;
}
.conn6 i{
   color: white;
   padding-left: 20px;
}
.CONN7{
   width: 50%;
   background-color:  #1B3A57;
   border-radius:5px;
   font-family: "Montserrat", serif;
   font-size: 18px;
   font-weight: 800;
   box-shadow: 0 4px 10px black;
   margin-left: 350px;
   margin-bottom: 17px;
   margin-top: 12px;
   padding-top: 10px;
   padding-bottom: 10px;
   cursor: pointer;
}
.conn7:hover{
   
    background-color: #136b89;
}
.conn7 a{
   text-align: center;
   color: white;
   padding-left: 280px;
}
.conn7 i{
   color: white;
   padding-left: 20px;
}
.conn1{
   width: 50%;
   background-color:  #1B3A57;
   border-radius: 5px;
   box-shadow: 0 4px 10px black;
   color: white;
   text-decoration: none;
   font-family: "Montserrat", serif;
   font-size: 18px;
   font-weight: 800;
   margin-left: 350px;
   margin-bottom: 17px;
   margin-top: 12px;
   padding-top: 10px;
   padding-bottom: 10px;
   cursor: pointer;
   
}
.conn1:hover{
            background-color: #136b89;
            
}
.conn1 a{
   text-align: center;
   color: white;
   padding-left: 280px;
}
.conn1 i{
   color: white;
   padding-left: 20px;
}
.table{
   background-image: url(table.jpg);
   background-size: cover;
   height: 75%;
}


/* css for animation tag */

/* marquee{
   padding-top: 40px;
   margin-bottom: 45px;
}
.q{
  background-image: url(candy.jpg);
  background-size: cover;
   font-family: "Montserrat", serif;
   font-weight: 700;
   font-size: 35px;
   color: black;
} */


/* Alternate Animation for Siksha */
/* @keyframes bounceMarquee {
    0% { transform: translateX(100%); }
    50% { transform: translateX(-10%); }
    100% { transform: translateX(-100%); }
}

.q {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

.animated-text {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
    animation: bounceMarquee 8s ease-in-out infinite;
} */
@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

@keyframes glow {
    0% { text-shadow: 0 0 10px #00f7ff; }
    50% { text-shadow: 0 0 20px #00bfff; }
    100% { text-shadow: 0 0 10px #00f7ff; }
}

@keyframes waveEffect {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

.animated-text {
    text-align: center;
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    color: #00f7ff;
    display: inline-block;
    border-right: 3px solid #00f7ff;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) forwards, blink 0.7s infinite;
}

.animated-text span {
    display: inline-block;
    animation: glow 2s infinite alternate;
}

.animated-text span:nth-child(odd) {
    animation: waveEffect 1.5s infinite ease-in-out alternate;
}
.q {
   
    width: 100%;
    background-color:black;
}